/*text css starts here*/
header span {
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  flex-grow: 1;
  margin: 0px;
  border: 0px;
}
header a {
  margin: 0px;
  padding: 10px 20px;
  border: 0px;
  color: black;
}
.caption_main {
  font-size: 40px;
  position: relative;
  top: 75px;
}
.caption {
  font-size: 30px;
  position: relative;
  top: 95px;
}
.caption, .caption_main {
font-style: georgia;
font-weight: bold;
color: white;
display: flex;
text-align: center;
align-items: center;
width: 100%;
}
.overlay {
  justify-content: center;
  align-items: center;
}
footer span {
  display: inline-flex;
  padding: 10px 20px;
}
footer a {
  color: black;
  font-size: 14px;
  font-family: verdana;
}
.small span {
  font-family: verdana;
  font-size: 12px;
  color: dimgray;
}
/*text css ends here*/
/*image css starts here*/
/*image css ends here*/
/*body css starts here*/
body {
  padding: 0px;
  margin: 0px;
  overflow-x: scroll;
}
/*body css ends here*/
/*header css starts here*/
header {
  position: fixed;
  width: 100%;
  height: 80px;
  padding: 0px;
  margin: 0px;
  z-index: 2;
  display: flex;
  background-color: white;
  border-bottom: 1px solid black;
}
.container {
  display: flex;
  align-items: center;
}
/*header css ends here*/
/*nav css starts here*/
nav {
  padding: 0px;
  margin: 0px;
  justify-content: flex-end;
  width: 85%;
  display: flex;
  align-items: center;
}
/*nav css ends here*/
/*article css starts here*/
.page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0px 5px;
  position: relative;
  top: 81px;
}
.large {
width: 630px;
display: flex;
flex-direction: column;
}
.large_split {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.split_1 {
  width: 300px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.split_2 {
  width: 300px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.medium {
  width: 300px;
  display: flex;
  flex-direction: column;
}
.small {
  width: 240px;
  display: flex;
  flex-direction: column;
}
.small span {
  background-color: whitesmoke;
  border-top: 1px solid black;
  display: block;
}
#phishy {
  display: flex;
  flex-direction: column;
  height: 300px;
  background-image: url("../../resources/images/img-story-main.png");
}
#backwards {
  height: 300px;
  display: flex;
  flex-direction: column;
  background-image: url("../../resources/images/img-story-2.png");
}
#cameras {
  height: 300px;
  display: flex;
  flex-direction: column;
  background-image: url("../../resources/images/img-story-3.png");
}
#cats {
  height: 300px;
  display: flex;
  flex-direction: column;
  background-image: url("../../resources/images/img-story-1.png");
}
/*article css ends here*/
/*footer css starts here*/
footer {
  width: 100%;
  height: 200px;
  padding: 0px;
  margin: 0px;
  display: inline-flex;
  flex-direction: row;
  background-color: mediumaquamarine;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 79px;
}
/*footer css ends here*/
