
header a, header p {
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
}
header a {
  color: black;

}
header p {
  color: mediumaquamarine;
}
header {
  width: 100%;
  position: fixed;
  display: flex;
  height: 80px;
  align-items: center;
}
