.header {
  position: fixed;
  width: 100%;
  height: 75px;
}
header span {
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  position: relative;
  top: 23px;
}
header a {
  color: black;
}
header p {
  color: mediumaquamarine;
}
.big_container {
  display: flex;
  position: relative;
  top: 0px;
  position: fixed;
  width: 100%;
  height: 75px;
  background-color: white;
  border-bottom: 2px solid black;
}
.container {
  height: 75px;
  width: 100%;
  display: flex;
}
.box {
  height: 75px;
  width: 100px;
  display: inline-block;
  text-align: center;
}
#flexstart {
  display:flex;
	justify-content: flex-start;
}
#flexend {
	display: flex;
  justify-content: flex-end;
}
#space_between {
  display: flex;
  justify-content: space-between;
}
.column {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: green;
}
.column p {
  font-family: georgia;
  font-size: 17px;
  color: black;
}
.column .caption {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
.column .large {
  width: 630px;
  display: inline-flex;
  flex-direction: column;
}
.column .medium {
  width: 300px;
  display: inline-flex;
  flex-direction: column;
}
.column .small {
  width: 240px;
  display: inline-flex;
  flex-direction: column;
}
.articles_items {
  border: 2px solid black;
}
