header {
  position: fixed;
  width: 100%;
  height: 75px;
  z-index: 2;
  background-color: white;
  border-bottom: 2px solid black;
}

header span {
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  position: relative;
  top: 25px;
}

header a {
  color: black;
}

header p {
  color: mediumaquamarine;
}

.big_container {
  display: flex;
}

.container {
  height: 75px;
  width: 100%;
  display: flex;
}

.box {
  height: 75px;
  width: 75px;
  display: inline-block;
  text-align: center;
}

.box_2 {
  height: 75px;
  width: 60px;
  display: inline-block;
  text-align: center;
}

#flexstart {
  display:flex;
	justify-content: flex-start;
}

#flexend {
	display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 20px;
}

#space_between {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: absolute;
  top: 70px;
  z-index: 1;
}

.column p {
  font-family: georgia;
  font-size: 17px;
  color: black;
}

#caption {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 300px;
}

.column .large {
  width: 630px;
  display: inline-block;
  flex-direction: column;
}

.column .medium {
  width: 300px;
  display: inline-block;
  flex-direction: column;
}

.column .small {
  width: 240px;
  display: inline-block;
  flex-direction: column;
}

footer {
  height: 325px;
  width: 100%;
  position: absolute;
  top: 880px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: mediumaquamarine;
}

footer span {
  display: inline-block;
  position: relative;
  top: 20px;
  font-family: georgia;
  font-weight: bold;
  font-size: 16px;
}

footer .logo, footer .hyperlinks {
  justify-content: center;
  color: white;
}

footer .hyperlinks {
  display: block;
}

footer .copyright {
  display: inline-block;
  width: 100%;
  justify-content: center;
}

footer a {
 color: black;
}

footer .logo {
  border-right: 5px solid white;
}

footer .footer_container {
  display: flex;
  width: 100%;
}

#cat {
  background-image: url("../../resources/images/img-story-1.png");
}

#tuna_steak {
  background-image: url("../../resources/images/img-story-main.png");
  width: 630px;
  height: 300px;
  margin-top: 150px;
  text-align: left;
  font-size: 40px;
}
